{
  "extends": "marudor",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "store": false,
    "ClientUser": false,
    "RoleType": false,
    "IS_PRODUCTION": false,
    "RoomType": false,
    "State": false
  }
}
