{
  "ast": false,
  "compact": false,
  "loose": "all",
  "optional": [
    "bluebirdCoroutines",
    "runtime",
    "es7.asyncFunctions",
    "es7.classProperties",
    "es7.comprehensions",
    "es7.decorators",
    "es7.exponentiationOperator",
    "es7.exportExtensions",
    "es7.functionBind",
    "es7.objectRestSpread",
    "strict"
  ],
  "env": {
    "production": {
      "optional": [
        "minification.removeConsole",
        "minification.removeDebugger",
      ]
    },
    "development": {
      "plugins": [
        "typecheck"
      ]
    }
  }
}
